<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      

      <nav id="navbar" class="navbar">
        <i class="bi bi-list mobile-nav-toggle"></i>
        <ul>
          <li><a href="index.html" class="active">Accueil</a></li>
          <li><a href="about.html">A Propos</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="photovolatique.html">Photovoltaique</a></li>
          <li><a href="products.html">Nos Produits</a></li>
          <li><a href="realisation.html">Réalisations</a></li>
          <li><a href="simulateur.html">Simulateur</a></li>
          <li><a href="contact.html">Contact</a></li>
          
        </ul>
        
      </nav><!-- .navbar -->

      <!--h1 class="float-right"><a href="index.html">Sailor</a></h1-->
      <!-- Uncomment below if you prefer to use an image logo -->
       

    </div>
    <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
  </header><!-- End Header -->
  <script src="assets/js/main.js"></script>