<section id="simulator">  
    <!-- Slide 1 -->
      <div class="container">
        <div class="row">
          <div class="simulatorClass">
            <h2 style="text-align: center; color: darkblue; font-weight: bold; margin-top: -15%;">
              TESTEZ NOTRE SIMULATEUR EN LIGNE
            </h2>
            <div class="simulator-form">
              <div class="form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
              </div>
              <div class="form-group mt-3 mt-md-0">
                <div class="text-center"><button class="btn-simulator-section" type="submit">Je Calcule mon Economie</button></div>
              </div>
              <p style="text-align: center; margin-top: 20px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam enim erat, scelerisque 
                a tempus id, maximus non urna. Pellentesque eros odio, mollis eleifend lacus non, lacinia semper lacus. 
                mollis eleifend lacus non, lacinia semper lacus. 
              </p>
            </div>
        </div>
      </div>

</section><!-- End Description Section -->